[submodule "fixtures/repos/indexmap"]
	path = fixtures/repos/indexmap
	url = https://github.com/moonbit-community/IndexMap
	branch = master
[submodule "fixtures/repos/json"]
	path = fixtures/repos/json
	url = https://github.com/moonbit-community/json
	branch = master
[submodule "fixtures/repos/sqlparser"]
	path = fixtures/repos/sqlparser
	url = https://github.com/moonbit-community/sqlparser
	branch = main
[submodule "fixtures/repos/toml-parser"]
	path = fixtures/repos/toml-parser
	url = https://github.com/moonbit-community/toml-parser
	branch = main
[submodule "fixtures/repos/uri"]
	path = fixtures/repos/uri
	url = https://github.com/moonbit-community/uri
	branch = main
[submodule "fixtures/repos/async"]
	path = fixtures/repos/async
	url = https://github.com/moonbitlang/async
	branch = main
[submodule "fixtures/repos/core"]
	path = fixtures/repos/core
	url = https://github.com/moonbitlang/core
	branch = main
[submodule "fixtures/repos/rabbita"]
	path = fixtures/repos/rabbita
	url = https://github.com/moonbit-community/rabbita
	branch = main
